In [1]:
#imports
import pandas as pd
import numpy as np
import datetime as dt
import matplotlib.pyplot as plt
import seaborn as sns
import os

In [2]:
#Let's open the statewide data and see what is happening.
state_data = pd.read_excel('/Users/ofrioren/GIT/data/2007-2023-PIT-Counts-by-State.xlsb')
state_data.head()

,State,"Change in Total Homelessness, 2022-2023","Change in Total Homelessness, 2021-2023","Change in Total Homelessness, 2020-2023","Change in Total Homelessness, 2019-2023","Change in Total Homelessness, 2018-2023","Change in Total Homelessness, 2017-2023","Change in Total Homelessness, 2016-2023","Change in Total Homelessness, 2015-2023","Change in Total Homelessness, 2014-2023","Change in Total Homelessness, 2013-2023","Change in Total Homelessness, 2012-2023","Change in Total Homelessness, 2011-2023","Change in Total Homelessness, 2010-2023","Change in Total Homelessness, 2009-2023","Change in Total Homelessness, 2008-2023","Change in Total Homelessness, 2007-2023"
0,AK,0.126724,0.341201,0.341201,0.370739,0.296627,0.416802,0.347423,0.336401,0.465247,0.343268,0.36644,0.228383,0.403113,0.312249,0.588092,0.591961
1,AL,-0.119403,0.292645,-0.014026,0.013186,-0.037857,-0.128922,-0.196303,-0.167758,-0.275597,-0.295372,-0.365713,-0.405542,-0.453523,-0.456579,-0.386672,-0.393984
2,AR,0.061,0.219729,0.102705,-0.03975,-0.037979,0.05756,0.059277,0.019141,-0.111376,-0.315582,-0.380873,-0.238026,-0.055395,-0.085203,-0.198464,-0.319864
3,AS,,,,,,,,,,,,,,,,
4,AZ,0.050468,1.607509,0.296748,0.422704,0.443183,0.59126,0.466674,0.438662,0.356551,0.347946,0.259689,0.355388,0.038363,-0.032878,0.140054,-0.027926

In [3]:
cali_df = state_data[state_data['State'] == 'CA']
cali_df = cali_df.transpose()
cali_df

                                                5
State                                          CA
Change in Total Homelessness, 2022-2023  0.057591
Change in Total Homelessness, 2021-2023  2.156522
Change in Total Homelessness, 2020-2023   0.12288
Change in Total Homelessness, 2019-2023   0.19911
Change in Total Homelessness, 2018-2023  0.395678
Change in Total Homelessness, 2017-2023  0.379124
Change in Total Homelessness, 2016-2023  0.535432
Change in Total Homelessness, 2015-2023  0.567325
Change in Total Homelessness, 2014-2023   0.59189
Change in Total Homelessness, 2013-2023  0.530122
Change in Total Homelessness, 2012-2023  0.510425
Change in Total Homelessness, 2011-2023  0.449707
Change in Total Homelessness, 2010-2023  0.469056
Change in Total Homelessness, 2009-2023  0.466704
Change in Total Homelessness, 2008-2023  0.328629
Change in Total Homelessness, 2007-2023   0.30516

In [4]:
cali_df = cali_df.rename(columns= {5: '% Change in total homelessness statewide'})
cali_df = cali_df.reset_index()
cali_df = cali_df.drop(cali_df.index[0], axis=0)
cali_df

,index,% Change in total homelessness statewide
1,"Change in Total Homelessness, 2022-2023",0.057591
2,"Change in Total Homelessness, 2021-2023",2.156522
3,"Change in Total Homelessness, 2020-2023",0.12288
4,"Change in Total Homelessness, 2019-2023",0.19911
5,"Change in Total Homelessness, 2018-2023",0.395678
6,"Change in Total Homelessness, 2017-2023",0.379124
7,"Change in Total Homelessness, 2016-2023",0.535432
8,"Change in Total Homelessness, 2015-2023",0.567325
9,"Change in Total Homelessness, 2014-2023",0.59189
10,"Change in Total Homelessness, 2013-2023",0.530122
11,"Change in Total Homelessness, 2012-2023",0.510425
12,"Change in Total Homelessness, 2011-2023",0.449707
13,"Change in Total Homelessness, 2010-2023",0.469056
14,"Change in Total Homelessness, 2009-2023",0.466704
15,"Change in Total Homelessness, 2008-2023",0.328629
16,"Change in Total Homelessness, 2007-2023",0.30516

In [5]:
cali_df = cali_df.rename(columns= {'index': 'Years'})
cali_df['Years'] = cali_df['Years'].str.replace('Change in Total Homelessness, ', '')
cali_df

        Years % Change in total homelessness statewide
1   2022-2023                                 0.057591
2   2021-2023                                 2.156522
3   2020-2023                                  0.12288
4   2019-2023                                  0.19911
5   2018-2023                                 0.395678
6   2017-2023                                 0.379124
7   2016-2023                                 0.535432
8   2015-2023                                 0.567325
9   2014-2023                                  0.59189
10  2013-2023                                 0.530122
11  2012-2023                                 0.510425
12  2011-2023                                 0.449707
13  2010-2023                                 0.469056
14  2009-2023                                 0.466704
15  2008-2023                                 0.328629
16  2007-2023                                  0.30516

In [6]:
cali_df['Years'] = cali_df['Years'].str.replace('-2023', '')
cali_df['Years'] = cali_df['Years'].astype('int')
cali_df['Years'].dtype

dtype('int64')

In [15]:
cali_df = cali_df.sort_values(['Years'])
cali_df

    Years % Change in total homelessness statewide
16   2007                                  0.30516
15   2008                                 0.328629
14   2009                                 0.466704
13   2010                                 0.469056
12   2011                                 0.449707
11   2012                                 0.510425
10   2013                                 0.530122
9    2014                                  0.59189
8    2015                                 0.567325
7    2016                                 0.535432
6    2017                                 0.379124
5    2018                                 0.395678
4    2019                                  0.19911
3    2020                                  0.12288
2    2021                                 2.156522
1    2022                                 0.057591

In [22]:
cali_df_cleaned = cali_df.rename(columns= {'index': 'Year - 2023'})
cali_df_cleaned

    Years % Change in total homelessness statewide
16   2007                                  0.30516
15   2008                                 0.328629
14   2009                                 0.466704
13   2010                                 0.469056
12   2011                                 0.449707
11   2012                                 0.510425
10   2013                                 0.530122
9    2014                                  0.59189
8    2015                                 0.567325
7    2016                                 0.535432
6    2017                                 0.379124
5    2018                                 0.395678
4    2019                                  0.19911
3    2020                                  0.12288
2    2021                                 2.156522
1    2022                                 0.057591

In [24]:
cali_df_cleaned.to_csv('% cumulative change in homelessness in ca.csv')